*{
  margin: 0;
  padding: 0;
}

:root{ 
  --color-white: #fff;
  --color-bg: #F1F5F6;
  --color-text: #4A4A4A;
  --color-text-variant: #7E7E7E;
  --color-shadow: #A1A4A5;
  --color-primary: #77C8CF;
  --color-secondary: #353F4B;

  --container-width-lg: 75%;
  --container-width-md: 95%;
  --container-width-sm: 98%;
}

::-webkit-scrollbar{
  display: none;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto; 
}

body{
  font-family: 'Lato', sans-serif;
  background-color: var(--color-white);
  color: var(--color-text);
  position: relative;

}

input, 
a, 
button:focus {
  outline:none;
}